py2neo==2021.2.3
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2
numpy==1.19.5
scipy==1.5.4
pandas==1.1.5
flask==2.0.3
werkzeug==2.0.3
tables==3.7.0
elasticsearch==7.13.0
Flask-Cors==3.0.10
flask_sqlalchemy==2.5.1
sqlalchemy_utils==0.38.2
psycopg2-binary
marshmallow==3.0.0
webargs==5.5.3
flask-marshmallow==0.10.1
BaseHash==3.0.10
Flask-Migrate==3.1.0
neobolt==1.7.17
neotime==1.7.4
python-dotenv==0.20.0
PyYAML==5.4.1
six==1.16.0
sqlalchemy==1.4.36
alembic==1.7.7
scikit-learn==1.0.2
